<!DOCTYPE html>

<html>
   <head>
      <link rel="stylesheet" href="/css/style.css">
   </head>
   <body>
       <div class="main-content">
            {{>header}} 
            <p>This site was Created by Tausif. It uses data from mapbox and weather app</p>
            <img class="portrait" src="/img/Tausif.jpg" alt="">
       </div>
       
       {{>footer}}
   </body>
</html>