<!DOCTYPE html>

<html>
   <head>
      <link rel="stylesheet" href="/css/style.css">
   </head>
   <body>
       <div class="main-content">
            {{>header}}
            <p>Name of the Owner {{name}}</p>
            <img class="portrait" src="/img/Tausif.jpg" alt="">
       </div>
       
       {{>footer}}
   </body>
</html>